//
   Created by rcd18 on 12/05/2016.

md-dialog(ng-cloak layout-padding flex="75")

    md-dialog-content
        h3 {{user.user_name}} {{user.user_firstname}}

        md-card( ng-show='!forThisYear' )
            md-card-content
                p Affecter un élève dans un club pour l'année
                    | prochaine supprimera ses choix, et l'empechera
                    | d'être traité dans l'affectation automatique.
                    | Il sera en revanche obligatoirement affecter
                    | au club que vous désigner

        md-list
            md-subheader.md-no-sticky
                span Clubs de {{user.user_firstname}}
                span.pull-right Club principal

            md-list-item.md-2-line.secondary-button-padding(
                ng-repeat='member in userMembers | orderBy : club_name')

                md-icon.md-warn.pointer( ng-click="delete(member)" ) delete

                .md-list-item-text( layout='column' )
                    h3 {{member.club_name}}
                    h4 {{member.project_name}}
                    md-checkbox.md-secondary(
                        ng-checked="member.main_club == '1'"
                        ng-click="switchMain($index)"
                        ng-if='forThisYear'
                    )
                md-divider

            md-list-item.md-2-line.secondary-button-padding

                md-input-container( flex="50" )
                    label Club
                    md-select( ng-model="chooseClub" )
                        md-option(
                            ng-repeat="club in allClubs"
                            ng-value="club" ) {{club.club_name}}

                md-input-container( flex="20" )
                    label Projet
                    md-select( ng-model="chooseProject" )
                        md-option(
                            ng-repeat="projet in allProjects"
                            ng-value="projet" ) {{projet.project_type}}

                md-input-container( flex="20" )
                    md-button.md-raised.md-primary( ng-click="addClub()" ) +


        md-button( ng-click="closeDialog(false)" class="md-primary" ) Fermer
