//
   Created by rcd18 on 12/05/2016.

md-content( layout='row' )

    md-select( ng-model="year" flex='20' )
        md-option( ng-repeat='y in years' ng-value='y' ) {{y - 1}}/{{y}}

    div( flex='60' )
        md-card( ng-show='year != currentYear' )
            md-card-content
                p Les affectations que vous effectuerez sur cette
                    | page seront prises en compte pour l'année prochaine.
                p L'objectif est de placer les élèves dans les clubs
                    | à recrutement spécifique (BDE, CAPISEN, BDS).

    md-input-container( flex='20' )
        label Recherche d'un élève
        input( type='text' ng-model='search')

md-content(
    layout-align='center top'
    flex-gt-sm='50'
    flex='100'
    flex-offset='0'
    flex-offset-gt-sm='25' )

    md-list
        md-subheader.md-no-sticky {{users.length}} Utilisateurs

        md-list-item.md-2-line.secondary-button-padding(
            ng-repeat="user in users | orderBy : 'user_name' | filter: search")

            img.md-avatar(
                src='images/profiles/{{user.login}}'
                onerror="this.src='images/blank-person.png'" )

            div.md-list-item-text( layout='column' )
                h3 {{user.user_name | firstLetterUppercase}} {{user.user_firstname | firstLetterUppercase}}

            md-button.md-raised.md-secondary( ng_click='showDialog(user, year)' ) Détails
            md-divider
