div(
  layout='row'
  layout-align='center center'
  layout-xs="column"
  style='min-height: 300px;'
  ng-cloak='')
    md-content( flex="50" flex-xs="100" layout-padding )
        form( name='candidature' ng-submit="save()")

            h3 Faites vos choix de club pour l'année prochaine

            md-input-container.md-block
                label Premier choix
                md-select(
                    name="choiceOne"
                    ng-model="choices[0]"
                    ng-disabled="!clubs"
                    md-on-close="updateList(0)"
                    required="" )
                    md-option(
                        ng-repeat="club in clubs | orderBy: 'club_name'"
                        ng-disabled='club.disable'
                        ng-value="club" ) {{club.club_name}}
                div( ng-messages="candidature.choiceOne.$error" )
                    div( ng-message="required" role="alert" class="my-message") Requis
                    div(
                        ng-if="candidature.choiceOne.$untouched && saveAction == 'post'"
                        role="alert") Requis

            md-input-container.md-block
                label Deuxième choix
                md-select(
                    name='choiceTwo'
                    ng-model='choices[1]'
                    ng-disabled='!clubs'
                    md-on-close="updateList(1)"
                    required="" )
                    md-option(
                        ng-repeat="club in clubs | orderBy: 'club_name'"
                        ng-disabled='club.disable'
                        ng-value='club') {{club.club_name}}
                div( ng-messages="candidature.choiceTwo.$error" )
                    div( ng-message="required" role="alert" class="my-message") Requis
                    div(
                        ng-if="candidature.choiceTwo.$untouched && saveAction == 'post'"
                        role="alert") Requis

            md-input-container.md-block
                label Troisième choix
                md-select(
                    name='choiceThree'
                    ng-model='choices[2]'
                    ng-disabled='!clubs'
                    md-on-close="updateList(2)"
                    required="" )
                    md-option(
                        ng-repeat="club in clubs | orderBy: 'club_name'"
                        ng-disabled='club.disable'
                        ng-value='club' ) {{club.club_name}}
                div( ng-messages="candidature.choiceThree.$error" )
                    div( ng-message="required" role="alert" class="my-message") Requis
                    div(
                        ng-if="candidature.choiceThree.$untouched && saveAction == 'post'"
                        role="alert" ) Requis


            div(layout='row')
                md-button.md-primary.md-raised(
                    type='submit'
                    ng-if="saveAction == 'post'") Sauvegarder
                md-button.md-primary.md-raised(
                    type='submit'
                    ng-if="saveAction != 'post'") Mettre à jour
                md-button.md-primary(
                    ng-click='clearValue()'
                    layout=''
                    layout-align='center end') Vider

    md-content( flex="50" flex-xs="100" layout-padding )
        md-card
            md-card-title
                md-card-title-text
                    span( class="md-headline" ) Capisen
            md-card-content( layout="row" layout-align="space-between" )
                | Vous souhaitez postuler pour Capisen ?
            md-card-actions( layout="row" layout-align="start center" )
                md-button.md-raised.md-primary( ng-click="goCapisen()" ) Signaler ma demande à Capisen

