div(
  layout='row'
  layout-align='center center'
  layout-xs="column"
  style='min-height: 300px;'
  ng-cloak='')
    md-content( flex="50" flex-xs="100" layout-padding)
        form(name='myForm' )

            h3 Faites vos choix de club pour l'année prochaine

            md-input-container.md-block
                label Premier choix
                md-select(
                    name="choicOne"
                    required )
                    md-option(
                        ng-repeat="club in clubs | orderBy: 'club_name' "
                        ng-value="$index") {{club.club_name}}
                .errors(ng-messages='myForm.myModel.$error' ng-if='myForm.$dirty')
                    div(ng-message='required') Required

            md-input-container.md-block
                label Deuxième choix
                md-select(
                    name="choicesTwo"
                    required)
                    md-option(
                        ng-repeat="club in clubs | orderBy: 'club_name'"
                        ng-value="$index") {{club.club_name}}
                .errors(ng-messages='myForm.myModel.$error' ng-if='myForm.$dirty')
                    div(ng-message='required') Required

            md-input-container.md-block
                label Troisième choix
                md-select(
                    name="choiceThree"
                    ng-model="choices[2]"
                    ng-disabled="!clubs"
                    ng-change="choosing()"
                    required)
                    md-option(
                        ng-repeat="club in clubs  track by club.club_id | orderBy: 'club_name'"
                        ng-value="$index") {{club.club_name}}
                .errors(ng-messages='myForm.myModel.$error' ng-if='myForm.$dirty')
                    div(ng-message='required') Required


        div(layout='row')
            md-button(ng-click='clearValue()' ng-disabled='!disabled' style='margin-right: 20px;') Sauvegarder
            md-button.md-primary(ng-click='save()' ng-disabled='myForm.$invalid' layout='' layout-align='center end') Annuler

    md-content( flex="50" flex-xs="100" layout-padding )
        md-card
            md-card-title
                md-card-title-text
                    span( class="md-headline" ) Capisen
            md-card-content( layout="row" layout-align="space-between" )
                | Vous souhaitez postuler pour Capisen ?
            md-card-actions( layout="row" layout-align="start center" )
                md-button.md-raised.md-primary( ng-click="goCapisen()" ) Signaler ma demande à Capisen

