
div( flex ="66" flex-xs = "100" layout='row' layout-xs='column' layout-padding layout-align='center center')
        md-card
            md-card-content
                p Cette page permet de :
                ul
                    li Nommer un président dans un club
                    li Valider ou non les projets (PR, ...)
                    li Rendre les clubs actifs ou non (sélectionnable pour l'année suivante)
                    li Noter les clubs et les élèves


md-content
    md-list
        md-subheader(ng-if="clubsActif != ''") Mes clubs actifs
        md-list-item.md-2-line(ng-if="clubsActif != ''" ng-repeat="club in clubsActif | orderBy: 'club_name'" ng-click="toggleMenu(club)")
                img(ng-src="images/{{club.club_id}}.jpg"
                    onerror="this.src='images/blank.jpg'"
                    alt='logo du club' class="md-avatar")
                div.md-list-item-text( layout="column" )
                    h3 {{club.club_name}}
                    h4 {{club.stats}} membre(s)
                md-divider( md-inset ng-if="!$last")

            md-divider(ng-if="clubsInactive != ''")





        md-subheader(ng-if="clubsInactive != ''") Mes clubs Inactifs
        md-list-item.md-2-line(ng-if="clubsInactive != ''" ng-repeat="club in clubsInactive | orderBy: 'club_name'" ng-click="toggleMenu(club)")
            img(ng-src="images/{{club.club_id}}.jpg"
                onerror="this.src='images/blank.jpg'"
                alt='logo du club' class="md-avatar")
            div.md-list-item-text( layout="column" )
                h3 {{club.club_name}}
                h4 {{club.stats}} membre(s)

             md-divider( md-inset ng-if="!$last")



md-sidenav.changeClub.md-sidenav-right.md-whiteframe-z2(layout='column'  md-component-id='changeClub')
    img.imageInCard(ng-src="images/{{changeClub.club_id}}.jpg"
        onerror="this.src='images/blank.jpg'"
        alt='logo du club' class="md-avatar"
        layout-align="center center")
    md-content()
        form
            md-input-container
                label(for='testInput') Test input
                input#testInput(type='text', ng-model='data', md-autofocus='')

