
div( flex ="66" flex-xs = "100" layout='row' layout-xs='column' layout-padding layout-align='center center')
        md-card
            md-card-content
                p Cette page permet de :
                ul
                    li Nommer un président dans un club
                    li Valider ou non les projets (PR, ...)
                    li Rendre les clubs actifs ou non (sélectionnable pour l'année suivante)
                    li Noter les clubs et les élèves

md-content
    md-list
        md-subheader(ng-if="clubsActif != ''") Mes clubs actifs
        md-list-item.md-2-line(ng-if="clubsActif != ''" ng-repeat="club in clubsActif | orderBy: 'club_name'" ng-click="toggleMenu(club)")
                img(ng-src="images/{{club.club_id}}.jpg"
                    onerror="this.src='images/blank.jpg'"
                    alt='logo du club' class="md-avatar")
                div.md-list-item-text( layout="column" )
                    h3 {{club.club_name}}
                    h4 {{club.stats}} membre(s)
                md-divider( md-inset ng-if="!$last")

            md-divider(ng-if="clubsInactive != ''")





        md-subheader(ng-if="clubsInactive != ''") Mes clubs Inactifs
        md-list-item.md-2-line(ng-if="clubsInactive != ''" ng-repeat="club in clubsInactive | orderBy: 'club_name'" ng-click="toggleMenu(club)")
            img(ng-src="images/{{club.club_id}}.jpg"
                onerror="this.src='images/blank.jpg'"
                alt='logo du club' class="md-avatar")
            div.md-list-item-text( layout="column" )
                h3 {{club.club_name}}
                h4 {{club.stats}} membre(s)

             md-divider( md-inset ng-if="!$last")



md-sidenav.changeClub.md-sidenav-right.md-whiteframe-z2(  md-component-id='changeClub')

    md-content(layout='column')
        h3 {{changeClub.club_name}}
        h4 Nommer un président
        form( name='choiceprez' ng-submit='updatePrez()' layout-padding )
            md-input-container.md-block
                    label Président
                    md-select(
                        name="presidentChoice"
                        ng-disabled="!changeClub.member"
                        ng-model="updatePrezChoice"
                        required="")
                        md-option(
                            ng-repeat="user in changeClub.member |orderBy:'user_name'"
                            ng-value="user"
                            ng-selected="user.login == prez" ) {{user.user_firstname | firstLetterUppercase}} {{user.user_name | firstLetterUppercase}}
                    div( ng-messages="choiceprez.presidentChoice.$error" )
                        div( ng-message="required" role="alert" class="my-message") Requis
             div(layout='row' layout-align='center center')
                    md-button.md-primary.md-raised(
                        type='submit'
                        ng-disabled="updatePrezChoice == null") Ajouter
        md-divider
        div(layout="row")
            h4 Noter les clubs
                md-icon(style="cursor:pointer " ng-click="infoNote()") info

        form( name='choiceprez' ng-submit='giveMark()' layout-padding)
            div(layout="row")
                span(flex="75") Validation des projets
                md-input-container(flex="25" layout-align="center center")
                        label Note du Club
                        input( ng-model="changeClub.mark" name="note" max="20" min="0" type="number" step="1"  ng-change="Club2student()" required="")

            div(ng-repeat="user in changeClub.member |orderBy:['project','user_name']:true"  layout="row")
                md-list(flex="75")
                    md-list-item.inset
                        //md-icon settings
                        md-switch.md-warn(ng-model = "user.project_validation" ng-disabled="user.lock_member_project_validation")
                        md-switch.md-accent.md-hue-3(ng-disabled="!changeClub.lock_member_mark")

                        p(layout="row")
                            span(flex="25") {{user.project}}
                            | {{user.user_firstname | firstLetterUppercase}} {{user.user_name | firstLetterUppercase}}
                md-input-container(flex="25")
                    label Note
                    input( max="20" min="0" type="number" step="1" value="{{member_mark}}" ng-change="tot()" ng-model="user.member_mark" required="" ng-disabled = "changeClub.lock_member_project_validation")
            span.red(ng-show="changeClub.totalClub != totalMb") La somme des points de chaque membres doit être égal à la note du club * le nombre d'élève
            div(layout='row' layout-align='center center')
                md-button.md-primary.md-raised(
                    type='submit'
                    ng-disabled="changeClub.totalClub != totalMb") Sauvegarder

            div(layout='row' layout-align='center center')
                md-button.md-primary.md-raised(
                    ng-show="changeClub.lock_member_project_validation"
                    ng-click="toggle_lockProject()") Verrouiller les projets
                md-button.md-primary.md-raised(
                    ng-show="!changeClub.lock_member_project_validation"
                    ng-click="toggle_lockProject()") Déverrouiller les projets
                md-button.md-primary.md-raised(
                    ng-disabled = "changeClub.lock_member_project_validation"
                    ng-show="changeClub.lock_member_mark"
                    ng-click="toggle_lockMark()") Verrouiller les notes
                md-button.md-primary.md-raised(
                    ng-disabled = "changeClub.lock_member_project_validation"
                    ng-show="!changeClub.lock_member_mark"
                    ng-click="toggle_lockMark()") Déverrouiller les notes

