//
   Created by rcd18 on 06/05/2016.
div( layout='row' layout-xs='column' layout-padding )

    md-content( flex='50' layout="column" layout-align='center center')
        img(src='1' onerror="this.src='images/blank-person.png'")
        h2 {{me.login}}

        h2 {{me.user_firstname}} {{me.user_name | firstLetterUppercase}}

    md-content( flex='50' )

        form( name='contactForm' ng-submit='save()')
            md-input-container.md-icon-float.md-block( flex-gt-xs )
                label E-mail
                md-icon( class="name" ) menu
                input(
                    type="email"
                    name="email"
                    ng-model='me.user_mail'
                    required="")
                div( ng-messages="contactForm.email.$error" role="alert" multiple )
                    div( ng-message="required" class="my-message" ) Vous devez laisser une adresse mail
                    div( ng-message="pattern" class="my-message") Cela ne semble pas être une adresse mail

            md-input-container.md-icon-float.md-block
                label Telephone
                md-icon( class="name" ) menu
                input(
                    type="tel"
                    name="phone"
                    ng-model='me.phone'
                    pattern="^0[0-9]{9}$" )
                div( ng-messages="contactForm.phone.$error" role="alert" multiple )
                    div( ng-message="pattern" class="my-message") Le format de votre numero ne semble pas bon

            div.md-block
                md-button.md-raised.md-primary(
                    type="submit"
                ) Sauvegarder
        md-card.md-block
            md-card-content
                p Les informations de contact ci-dessus sont indépendantes de l'ENT.
                p Vous pouvez les modifier afin de permettre aux futurs membres de vous recontacter.

