//
   Created by rcd18 on 06/05/2016.
div( layout='row' layout-xs='column' layout-padding )

    md-content( flex='50' )
        img(src='1' onerror="this.src='images/blank-person.png'")
        h2 {{me.login}}

        label Nom
        h2 {{me.user_name}} {{me.user_firstname}}

    md-content( flex='50' )

        form( name='contactForm' ng-submit='save()')
            md-input-container.md-icon-float.md-block( flex-gt-xs )
                label E-mail
                md-icon( class="name" ) menu
                input(
                    type="email"
                    name="email"
                    ng-model='me.user_mail' )

            md-input-container.md-icon-float.md-block
                label Telephone
                md-icon( class="name" ) menu
                input(
                    type="tel"
                    name="phone"
                    ng-model='me.phone' )

            div.pull-right
                md-button.md-raised.md-primary(

                    type="submit"
                ) Sauvegarder