//
   Created by rcd18 on 06/05/2016.
div( layout='row' layout-padding layout-xs='column' flex-xs='100' )

    md-content( flex='30' flex-xs='100' layout="column" layout-align='center center')
        img(src='1' onerror="this.src='images/blank-person.png'")

    md-content( flex='50' flex-xs='100' )


        h2
            | {{me.user_firstname | firstLetterUppercase}}
            | {{me.user_name | firstLetterUppercase}}
            | ({{me.login}})

        md-divider( layout-padding )

        form( name='contactForm' ng-submit='save()' layout-padding )
            md-input-container.md-icon-float.md-block( flex-gt-xs )
                label E-mail
                md-icon( class="name" ) email
                input(
                    type="email"
                    name="email"
                    ng-model='me.user_mail'
                    required="")
                div( ng-messages="contactForm.email.$error" role="alert" multiple )
                    div( ng-message="required" class="my-message" ) Vous devez laisser une adresse mail
                    div( ng-message="pattern" class="my-message") Cela ne semble pas être une adresse mail

            md-input-container.md-block.md-icon-float
                md-icon( class="name" ) menu
                input(
                    type="tel"
                    name="phone"
                    placeholder="Téléphone"
                    ng-model='me.phone'
                    pattern="^0[0-9]{9}$" )
                div( ng-messages="contactForm.phone.$error" role="alert" multiple )
                    div( ng-message="pattern" class="my-message") Le format de votre numero ne semble pas bon


            md-input-container( layout-align='center center' layout="row" )
                md-button.md-raised.md-primary(
                    type="submit"
                    flex-xs='100'
                ) Sauvegarder

div( layout='row' layout-xs='column' layout-padding layout-align='center center')
        md-card
            md-card-content
                p Les informations de contact ci-dessus sont indépendantes de l'ENT.
                p Concernant votre nom, prénom, adresse E-mail et numéro de téléphone :
                ul
                    li Vous pouvez les modifier afin de permettre aux futurs membres de vous recontacter.
                    li Ces informations seront accessible à toute personne membres d'un club
                        | dans lequel vous avez occupé une place.
