div(
  layout='row'
  layout-align='center top'
  layout-xs='column'
  ng-cloak='')
    md-content.borderRight( flex="50" flex-xs="100" layout-padding )

        h2 Recommander un non membre
        md-input-container
                label Recherche d'un élève
                input( type='text' ng-model='searchUser')

            md-list
                md-subheader.md-no-sticky {{users.length || 0}} Utilisateurs

                md-list-item.md-2-line.secondary-button-padding(
                    ng-repeat="user in users | orderBy : 'user_name' | filter: searchUser")

                    img.md-avatar(
                        src='images/profiles/{{user.login}}.jpg'
                        onerror="this.src='images/blank-person.png'" )

                    div.md-list-item-text( layout='column' )
                        h3 {{user.user_name | firstLetterUppercase}} {{user.user_firstname | firstLetterUppercase}}

                    md-checkbox( aria-label="Select All"
                        ng-model='user.recommended'
                        ng-click='recommend(user)'
                          )
                    md-divider

    md-content( flex="50" flex-xs="100" layout-padding )

        h2 Pénaliser un membre actuel
        md-input-container
                label Recherche d'un membre
                input( type='text' ng-model='searchMember')

            md-list
                md-subheader.md-no-sticky {{clubMembers.length || 0}} Utilisateurs

                md-list-item.md-2-line.secondary-button-padding(
                    ng-repeat="member in clubMembers | orderBy : 'user.user_name' | filter: searchUser")

                    img.md-avatar(
                        src='images/profiles/{{member.user.login}}.jpg'
                        onerror="this.src='images/blank-person.png'" )

                    div.md-list-item-text( layout='column' )
                        h3 {{member.user.user_name | firstLetterUppercase}} {{member.user.user_firstname | firstLetterUppercase}}

                    md-checkbox( aria-label="Select All"
                        ng-model='member.bad'
                        ng-click='disgrace(member)'
                          )
                    md-divider

