//
   Created by rcd18 on 12/05/2016.

md-content( flex="75" layout='column' )

    h4 Noter les membre du club
        md-icon(style="cursor:pointer " ng-click="infoNote()") info

    h4( ng-if="clubMark" ) Note attribuée : {{clubMark.note_club}}

    div( layout='row' )
        span( flex='30' ) Validation des projets
        span( flex="70" ) Nombre de points a redistribuer
        span( flex='30' ) Note du membre

    md-list(
        ng-repeat="member in members |orderBy: 'user.user_name'"
        layout='column')

        md-list-item.inset
            md-switch.md-primary(
                ng-model='member.project_validation_bool'
                ng-disabled="clubMark.locks.lock_member_project_validation" )

            p( layout="row" )
                span( flex="25" ) {{member.project}}
                | {{member.user.user_firstname | firstLetterUppercase}} {{member.user.user_name | firstLetterUppercase}}
            md-input-container
                label Note
                input(
                    max="20"
                    min="0"
                    type="number"
                    ng-model="member.member_mark"
                    ng-disabled="clubMark.locks.lock_member_mark"
                    ng-change="testMark()"
                    required="" )
                span( ng-if="member.member_mark < member.minMark" ) ERROR

    span.red(
        ng-show='errorMark')
        | La somme des points de chaque membres doit être égal à la note du club x le nombre d'élève

    div( layout='row' layout-align='center center' )
        md-button.md-primary.md-raised(
            type='submit'
            ng-disabled='errorMark') Sauvegarder
