div.fullheight( layout="column" ng-controller="sidenavCtrl")

  md-sidenav(
    class="md-sidenav-left md-whiteframe-z2 fullheight"
    md-component-id="left"
    hide-print="hide-print"
    md-is-locked-open="$mdMedia('gt-sm')"
    tabindex="-1"
    )

    header.headToolbar
        md-icon(md-svg-src="images/isen-troncated.svg")
        //img(src='images/isen-troncated.jpg' alt="logo de l'ISEN" )

    md-list( flex )

      menu-list( ng-repeat='underpart in menu' )

        md-divider(ng-if = "$index" )
        md-list-item(
            flex=''
            layout='row'
            type = "button"
            ng-if = "$index"
            ng-class="{openList: underpart.expanded}"
            ng-click = "collapse(underpart, $index)")
              | {{underpart.name}}
              span.flex(flex)
              span.md-toggle-icon
                md-icon( ng-class="{rotateP180: !underpart.expanded}" ) keyboard_arrow_down

          .toggle
            md-list-item(
              ng-repeat='item in underpart.values' ng-class="{activeLink: item.active}" ng-if="underpart.expanded" ng-click="findActive()"

              )

              a( ng-href='{{item.link}}')

                div(md-ink-ripple='' layout='row' layout-align='start center')
                  .inset
                    md-icon.material-icons {{item.icon}}
                  .inset
                    | {{item.title}}






//      md-subheader Management
      md-list-item(ng-repeat='item in admin')
        a
          md-item-content(md-ink-ripple='', layout='row', layout-align='start center')
            .inset
              ng-md-icon(icon='{{item.icon}}')
            .inset
              | {{item.title}}
