md-toolbar.md-hue-2.headToolbar.md-whiteframe-glow-z1(ng-controller="toolbarCtrl")
  .md-toolbar-tools
    md-button.md-icon-button( ng-click="toggleSidenav('left')" hide-gt-sm)
      md-icon.darker( aria-label="Menu" class="material-icons") menu
    h2
      //span my Page Title
      span( ng-repeat='crumb in crumbles' hide-xs )
        a( ng-href="#{{crumb.path}}" ) {{crumb.label}}
        md-icon.material-icons( ng-if="!$last" ) play_arrow


    span( flex )
    //img(
        style="height: 75%; margin-right: 0.5rem"
        ng-src="images/{{me.login}}"
        alt="photo de profil"
        onerror="this.src='images/blank-person.png'"
        ng-click="goToProfile()")
    a( href="#/me")
        | {{me.user_firstname| firstLetterUppercase}} {{me.user_name | firstLetterUppercase}}
